@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 255, 255);
    background: linear-gradient(125deg, rgba(255, 255, 255, 1) 38%, rgba(255, 109, 0, 1) 70%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.container {
    padding: 50px 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #ffff;
    border: 1px solid;
    border-radius: 30px;
}

.barra-horizontal {
    height: 5px;
    width: 250px;
    background-color: orangered;

}

.campo-input {
    display: flex;
    flex-direction: column;

}

.lembrar-me {
    display: flex;
    gap: 5px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.enter {
    padding: 15px;
    align-self: center;
    width: 160px;
    border-radius: 20px ;
    border: 1px solid rgba(36,9,228,1);
    background: rgb(36,9,228);
    background: linear-gradient(0deg, rgba(36,9,228,1) 45%, rgba(34,95,255,1) 92%); 
    color: #ffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

#input{
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: rgb(228, 228, 228);
}

h2{
    font-size: 15px;
}
a{
    color: rgb(116, 158, 236);
}